@tailwind base;
@tailwind components;
@tailwind utilities;

.seats {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
  }
  
  .seat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .unavailable {
    background-color: #d3d3d3;
    cursor: not-allowed;
  }
  
  .selected {
    background-color: #ffc107 !important;
  }
  